
.App {
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    margin-top: 4rem;
}

.disabled {
    pointer-events: none;
    opacity: .5;
}

.logo {
    width: 3rem;
    height: 3rem;
}

.topBar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    width: calc(100% - 2rem);
    background: var(--accent);
    border: 1px solid #83a6fd;
    height: 2rem;
    z-index: -1;

    .url, button {
        border: 0;
        background: rgba(255, 255, 255, 0.105);
        padding: .4rem .5rem;
        border-radius: 4px;
        color: white;
        letter-spacing: .03rem;
        outline: none;
    }

    .url:focus-within, button:hover {
        background: white;
        color: var(--accent);
    }

    .url::placeholder {
        color: white;
        opacity: .6;
    }
}

.mainCont {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.281);
    z-index: 11;
    width: max-content;

    $defaultOutline: 1px solid rgb(179, 179, 179);

    .row {
        display: flex;
        flex-direction: row;

        &:hover {
            filter: brightness(.96);
        }

        .item {
            width: 5rem;
            min-width: 5rem;
            background: white;
            outline: $defaultOutline;
            padding: .3rem .5rem;
            border: none;
            transition: transform 200ms ease;

            &:hover {
                z-index: 11;
                outline: 2px solid var(--accent);
            }

            &:focus-within {
                z-index: 11;
                outline: 2px solid var(--accent);
                transform: scale(1.1);
            }
        }
        .item.big {
            width: 100% !important;
            text-align: center;
            &:hover {
                background: var(--accent);
                color: white;

                z-index: unset;
                outline: $defaultOutline;
                transform: unset;
            }

            &:focus-within {
                z-index: unset;
                outline: $defaultOutline;
                transform: unset;
            }
        }
        .row-action-bar {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            gap: .1rem;

            &:hover {
                z-index: unset;
                outline: $defaultOutline;
                transform: unset;
            }
        }
    }

    .row.header{
        position: sticky;
        top: 0;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.148);
        .item {
            position: relative;
            font-weight: 600;
            background: linear-gradient(to right, var(--header-bg), var(--header-bg2));
            border: 0px solid transparent;

            &:hover, &:focus-within {
                filter: contrast(1.2);
                outline: $defaultOutline;
                transform: unset;
            }

            p{
                margin: 0;
                padding: 0;
            }

            &:hover {
                .column-action-bar{
                    display: flex;
                }
            }

            .action-next {
                right: 0;
            }

            .action-prev {
                left: 0;
            }

            .column-action-bar{
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 100%;
                width: calc(100% - .6rem);
                background: var(--accent);
                padding: .4rem;
                border-radius: .2rem;

                display: none;
                flex-direction: column;
                gap: .4rem;
                z-index: -1;

                div {
                    background: #ffffff3c;
                    display: flex;
                    flex-direction: row;

                    button {
                        background: transparent;
                    }
                }
                
                button {
                    border: none;
                    width: 100%;
                    padding: .5rem 1rem;
                    background: #ffffff3c;
                    color: white;
                    border-radius: 2px;

                    &:hover {
                        background: white;
                        color: var(--accent);
                    }
                }

                &:hover {
                    display: flex;
                }
            }
        }
    }
}