
.App {
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    margin-top: 4rem;
}

.disabled {
    pointer-events: none;
    opacity: .5;
}

.logo {
    width: 3rem;
    height: 3rem;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 15rem;
    height: 100vh;
    background: #2e3138;
    z-index: 111111;

    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        width: calc(100% - 2rem);
        padding: 1rem;
        .sidebarLogo {
            width: 1.8rem;
        }

        div {
            color: white;
            font-weight: 700;
            letter-spacing: 1px;
            font-size: 1.5rem;
            line-height: 1.5rem;
        }
    }

    .menuSection {
        background: #32353d;
        color: white;
        .headTitle {
            padding: .5rem;
            font-weight: 700;
            letter-spacing: 1px;
        }

        .menuItem {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            padding: 1rem .5rem;
            background: #40444e;
            user-select: none;
            cursor: pointer;
            img {
                width: 1.5rem;
                filter: invert(1);
            }

            div {
                letter-spacing: 1px;
            }

            &:hover {
                filter: brightness(1.2);
            }
        }
    }
}

.topBar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    width: calc(100% - 2rem);
    background: var(--accent);
    height: 2rem;
    z-index: -1;
    margin-left: 15rem;

    .url, button {
        border: 0;
        background: rgba(255, 255, 255, 0.105);
        padding: .4rem .5rem;
        border-radius: 4px;
        color: white;
        letter-spacing: .03rem;
        outline: none;
    }

    button {
        background: var(--accent2);
    }

    .url:focus-within, button:hover {
        background: white;
        color: var(--accent);
    }

    .url::placeholder {
        color: white;
        opacity: .6;
    }
}

.mainCont {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.281);
    z-index: 11;
    width: max-content;
    margin-left: 15rem;

    $defaultOutline: 1px solid rgb(179, 179, 179);

    .row {
        display: flex;
        flex-direction: row;

        &:hover {
            filter: brightness(.96);
        }

        .item {
            width: 5rem;
            min-width: 5rem;
            background: #1E2235;
            color: white;
            outline: $defaultOutline;
            padding: .3rem .5rem;
            border: none;
            transition: transform 200ms ease;

            &:hover {
                z-index: 11;
                outline: 2px solid var(--accent2);
            }

            &:focus-within {
                z-index: 11;
                outline: 2px solid var(--accent2);
            }
        }
        .item.big {
            width: 100% !important;
            text-align: center;
            &:hover {
                background: var(--accent2);
                color: white;

                z-index: unset;
                outline: $defaultOutline;
                transform: unset;
            }

            &:focus-within {
                z-index: unset;
                outline: $defaultOutline;
                transform: unset;
            }
        }
        .row-action-bar {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            gap: .1rem;

            input {
                background: var(--accent2);
                color: white;
            }

            input[value='X'] {
                background: red;
            }

            &:hover, &:focus-within {
                z-index: unset;
                outline: $defaultOutline;
                transform: unset;
            }
        }
    }

    .row.header{
        position: sticky;
        top: 0;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.148);
        .item {
            position: relative;
            font-weight: 600;
            background: linear-gradient(to right, var(--header-bg), var(--header-bg2));
            border: 0px solid transparent;

            &:hover, &:focus-within {
                filter: contrast(1.2);
                outline: $defaultOutline;
                transform: unset;
            }

            p{
                margin: 0;
                padding: 0;
            }

            &:hover {
                .column-action-bar{
                    display: flex;
                }
            }

            .action-next {
                right: 0;
            }

            .action-prev {
                left: 0;
            }

            .column-action-bar{
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 100%;
                width: calc(100% - .6rem);
                background: var(--accent);
                padding: .4rem;
                border-radius: .2rem;

                display: none;
                flex-direction: column;
                gap: .4rem;
                z-index: -1;

                div {
                    background: #ffffff3c;
                    display: flex;
                    flex-direction: row;

                    button {
                        background: transparent;
                    }
                }
                
                button {
                    border: none;
                    width: 100%;
                    padding: .5rem 1rem;
                    background: #ffffff3c;
                    color: white;
                    border-radius: 2px;

                    &:hover {
                        background: white;
                        color: var(--accent);
                    }
                }

                &:hover {
                    display: flex;
                }
            }
        }
    }
}